%center
  %h1 Meetup for #{@meeting.meeting_date}

= @meeting.open_kudos(@meeting, current_user)
= @meeting.kudo_links_for(current_user)

= @meeting.points_awarded

%h3 Topics Presented
= render @meeting.time_slots

= @meeting.edit_link_for(current_user)
= @meeting.finalize_link_for(current_user)
