#topic
  %h1
    = topic.title
    = current_user.vote_link(topic)
    = current_user.volunteer_link(topic)
    = current_user.edit_topic_link(topic)
    = current_user.destroy_topic_link(topic)
  %p= "This topic was suggested by #{topic.user.name}"


  .well
    %h4 Description
    = topic.description

  .row-fluid
    .span6
      .well
        %h3= "We have #{ pluralize(topic.volunteers.size, 'volunteer') }"
        %ul
          - topic.volunteers.each do |volunteer|
            %li= volunteer.name
      .well= render partial: 'disqus'
    .span6
      .well
        %h3= "#{topic.votes} People want to see it"
        %ul
          - topic.voters.each do |voter|
            %li= voter.name
