!!!
%html
  %head
    %title Las Vegas Ruby User Group
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => 'width=device-width, initial-scale=1.0'}
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/assets/apple-touch-icon-iphone.png" }
    %link{ :rel => "apple-touch-icon-precomposed", :size => '72x72', :href => "/assets/apple-touch-icon-ipad.png" }
    %link{ :rel => "apple-touch-icon-precomposed", :size => '114x114', :href => "/assets/apple-touch-icon-iphone4.png" }

  %body
    .container
      .row
        = render 'shared/header'
        = render 'shared/alerts'
        = yield
      %footer
        A Project by the Las Vegas Ruby User Group
        |
        = mail_to('organizers@lvrug.org', 'Report a bug')
        |
        = link_to('Source code', 'https://github.com/LasVegasRubyGroup/soapbox', target: 'blank')
        |
        = mail_to('organizers@lvrug.org', 'Feedback')
        |
        = link_to('Leaderboard', leaderboard_path)

    = javascript_include_tag "application" 

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36518064-1']);
      _gaq.push(['_setDomainName', 'lvrug.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
